* {
    -webkit-box-sizing: border-box; /* Safari/Chrome */
    -moz-box-sizing: border-box;    /* Firefox */
    -o-box-sizing: border-box;      /*Opera*/
    -ms-box-sizing: border-box;     /*Microsoft*/
    box-sizing: border-box;         /*Standard*/
}
a:hover {
    background-color: cyan; color: green;
    padding: 30px;
}
body {
    margin: 0px;
}
nav {   
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #07575b; height: 200px; margin: 10px; padding-top: 5px; color:aliceblue;
}
a {
    background-color: #66A5AD; display: inline-block; text-align: center; padding: 20px;
    margin-bottom: 5px; margin-left: 5px; margin-right: 5px; color: aliceblue; border: 3px solid #C4DFE6;
}
