* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin: 0px;
}
nav {
    background-color: #07575B;
    height: 200px;
    margin: 10px;
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
nav a {
    display: inline;
    background-color: #66A5AD;
    text-align: center;
    padding: 20px;
    margin-left: 5px; margin-right: 5px; margin-bottom: 5px;
    color: aliceblue;
    border: 3px solid #C4DFE6;
    flex: 2 0 215px;
}