* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin: 0px;
}
nav a {
    display: inline;
    background-color: #66A5AD;
    text-align: center;
    padding: 20px;
    margin: 0px 5px 5px 5px;
    color: aliceblue;
    border: 3px solid #C4DFE6;
}
nav ul {
    list-style-type: none;
    background-color: #07575B;
    height: 200px;
    margin: 10px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav ul a {
    text-decoration: none;
}